@charset "UTF-8";
nav#cabecalho{
    background-image: linear-gradient(to bottom, #3ACF7C, #1A5D38);
    justify-content: center;
    display: grid;
}
h1#principal{
    color: white;
    text-align: center;
}
.c1{
    color: white;
    width: 430px;
    text-align: center;
}
.c1 p{
    text-align: center;
}
.menu{
    justify-self: start;
    background-color: #1A5D38;
    width: 100%;
}
.link{
    color: white;
    text-decoration: none;
    padding: 10px;
}
.corpo{
    background-color: #84E1AD;
    margin-top: auto;
    border: 0 20px 20px 20px solid #84E1AD;
    justify-content: center;
    display: grid;
}
.sectionPrincipal{
    padding: 5px 10px 10px 0px;
    right: auto;
    width: 650px;
    background-color: white;
}
p{
    padding: 0px 0px 0px 10px;
    text-align: justify;
    text-indent: 15px;
}
.primeiro {
    padding: 0px 0px 0px 10px;
    width: 640px;
}
.segundo{
    text-align: center;
}
.video{
    justify-self: start;
    width: 660px;
    text-align: center;
    background-color: #1A5C38;
    padding: 15px 0px 15px 0px;
}
h1{
    padding: 0px 0px 0px 10px;
}
h2{
    padding: 0px 0px 0px 10px;
}
.extra{
    padding: 0px 0px 0px 10px;
    
}
.bonus{
    background-color: #2FA866;
    border-radius: 4px 4px 0px 0px;
}
.h1Final{ 
    margin-top: 10px;
    padding: 5px;
}
.lista{
    background-color: #C5EBD6;
}
.lista1{
    display: inline-block;
    width: 300px;
}
